{% extends 'base.html' %}

{% block content %}
<header class="relative z-0">
    <video
            src="/images/blackbg.mp4"
            muted
            autoplay
            loop
            class="z-0 absolute inset-0 h-full w-full object-cover"></video>
    <div class="relative z-10 bg-black/30 backdrop-blur">
        <nav class="px-4 py-6 bg-neutral-800/50 text-gray-200">
            <ul class="flex justify-center items-center gap-6 max-w-7xl mx-auto">
                <li>
                    <a class="text-gray-100 hover:text-purple-300 transition-colors duration-300" href="/">صفحه اصلی</a>
                </li>
                <li>
                    <a class="text-gray-100 hover:text-purple-300 transition-colors duration-300" href="/about">درباره
                        ما</a>
                </li>
            </ul>
        </nav>
        <div class="mx-auto max-w-7xl px-4 py-44">
            <h1
                    class="text-center text-gray-200 font-bold text-3xl md:text-4xl mb-2">
                فروش سنگ محبوب
            </h1>
            <img
                    class="w-[80%] md:w-1/2 block mx-auto mb-4"
                    src="/images/t_logo.png"
                    alt="سنگ محبوب"/>
            <p class="text-center text-neutral-300 text-sm md:text-base">
                فروشگاه سنگ محبوب. شماره تماس: 09196043787
            </p>
        </div>
    </div>
</header>
<main class="flex flex-col items-stretch gap-28 py-16">
    <section class="px-4">
        <h3 class="mb-8 text-center font-bold text-2xl">لیست انواع سنگ قبور</h3>
        <ul
                class="max-w-7xl mx-auto grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
            <li class="w-full">
                <a
                        href="/product"
                        class="group block w-full relative z-0 overflow-hidden rounded-lg">
                    <img
                            class="-z-[1] w-full aspect-square object-cover rounded-t-lg md:rounded-lg group-hover:scale-125 transition-all duration-500"
                            src="images/12.jpg"
                            alt="tombstone"/>
                    <span
                            class="z-10 block font-bold absolute top-0 left-4 bg-purple-600 text-white px-4 py-2 text-xs rounded-b-md font-dosis"
                            dir="ltr">
                - 60%
              </span>
                    <div
                            class="md:absolute inset-0 bg-neutral-800 md:bg-transparent md:bg-gradient-to-t from-black/90 to-transparent rounded-b-lg md:rounded-lg p-4 text-gray-100 flex flex-col justify-end items-start">
                        <h4 class="mb-1 font-bold md:text-lg">سنگ قبر مرمر</h4>
                        <p class="text-sm">
                            <span>قیمت:</span>
                            <span class="line-through text-gray-400 font-dosis"
                            >53,000,000</span
                            >
                            <span class="font-dosis">53,000,000</span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="w-full">
                <a
                        href="/product"
                        class="group block w-full relative z-0 overflow-hidden rounded-lg">
                    <img
                            class="-z-[1] w-full aspect-square object-cover rounded-t-lg md:rounded-lg group-hover:scale-125 transition-all duration-500"
                            src="images/12.jpg"
                            alt="tombstone"/>
                    <span
                            class="z-10 block font-bold absolute top-0 left-4 bg-purple-600 text-white px-4 py-2 text-xs rounded-b-md font-dosis"
                            dir="ltr">
                - 60%
              </span>
                    <div
                            class="md:absolute inset-0 bg-neutral-800 md:bg-transparent md:bg-gradient-to-t from-black/90 to-transparent rounded-b-lg md:rounded-lg p-4 text-gray-100 flex flex-col justify-end items-start">
                        <h4 class="mb-1 font-bold md:text-lg">سنگ قبر مرمر</h4>
                        <p class="text-sm">
                            <span>قیمت:</span>
                            <span class="line-through text-gray-400 font-dosis"
                            >53,000,000</span
                            >
                            <span class="font-dosis">53,000,000</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <ul class="flex items-center justify-center gap-1 font-dosis">
        <li>
            <a class="py-1 px-2 text-black rounded" href="#">&rarr;</a>
        </li>
        <li>
            <a class="py-1 px-2 bg-purple-600 text-white rounded" href="#">1</a>
        </li>
        <li>
            <a class="py-1 px-2 text-black rounded" href="#">2</a>
        </li>
        <li>
            <a class="py-1 px-2 text-black rounded" href="#">3</a>
        </li>
        <li>
            <a class="py-1 px-2 text-black rounded" href="#">4</a>
        </li>
        <li>
            <a class="py-1 px-2 text-black rounded" href="#">&larr;</a>
        </li>
    </ul>
</main>
<footer class="py-10 bg-neutral-800 text-gray-100">
    <div
            class="mx-auto max-w-7xl grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16 px-6">
        <div>
            <div class="flex items-center mb-4 gap-4">
                <img
                        class="w-8 h-8 object-contain"
                        src="/images/t_logo_m.png"
                        alt="محبوب"/>
                <h2 class="font-bold text-xl">سنگ قبر محبوب</h2>
            </div>
            <p class="text-justify leading-8 text-gray-300 mb-2">
                <span class="font-bold text-gray-100"> آدرس: </span>
                <span>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
              ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
            </span>
            </p>
            <p class="text-justify leading-8 text-gray-300">
                <span class="font-bold text-gray-100"> شماره تماس: </span>
                <span class="font-dosis"> 09196043787 </span>
            </p>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-4">ارسال پیام</h3>
            <form class="w-full">
                <label class="block w-full mb-3" aria-label="name">
                    <input
                            class="w-full bg-transparent border border-solid border-gray-500 focus:border-gray-300 rounded-lg py-3 px-4 transition-colors duration-300"
                            type="text"
                            placeholder="نام"/>
                </label>
                <label class="block w-full mb-3" aria-label="name">
              <textarea
                      rows="4"
                      class="w-full resize-none bg-transparent border border-solid border-gray-500 focus:border-gray-300 rounded-lg py-3 px-4 transition-colors duration-300"
                      type="text"
                      placeholder="متن"></textarea>
                </label>
                <button
                        class="w-full block text-center bg-purple-600 py-3 rounded-lg">
                    ارسال
                </button>
            </form>
        </div>
    </div>
</footer>
{% endblock content %}
