{% load static %}

<header class="relative z-0">
    <video
            src="{% static 'images/blackbg.mp4' %}"
            muted
            autoplay
            loop
            class="z-0 absolute inset-0 h-full w-full object-cover"></video>
    <div class="relative z-10 bg-black/30 backdrop-blur">
        <nav class="px-4 py-6 bg-neutral-800/50 text-gray-200">
            <ul class="flex justify-center items-center gap-6 max-w-7xl mx-auto">
                <li>
                    <a class="text-gray-100 hover:text-purple-300 transition-colors duration-300"
                       href="{% url 'home:name' %}">صفحه اصلی</a>
                </li>
                <li>
                    <a class="text-gray-100 hover:text-purple-300 transition-colors duration-300"
                       href="{% url 'about:about' %}">تماس با ما</a>
                </li>
            </ul>
        </nav>
        <div class="mx-auto max-w-7xl px-4 py-44">
            <h1
                    class="text-center text-gray-200 font-bold text-3xl md:text-4xl mb-2">
                {{ header_name }}
            </h1>
            <img
                    class="w-[80%] md:w-1/2 block mx-auto mb-4"
                    src="{% static 'images/t_logo.png' %}"
                    alt="سنگ محبوب"/>
            <p class="text-center text-neutral-300 text-sm md:text-base">
                فروشگاه سنگ محبوب. شماره تماس: 09196043787
            </p>
        </div>
    </div>
</header>