{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    {% include 'include/navbar.html' with header_name='سنگ مزار محبوب' %}

    <main class="flex flex-col items-stretch gap-28 py-16">
        <section class="px-4">
            <h3 class="mb-8 text-center font-bold text-2xl">لیست انواع سنگ قبور</h3>
            <ul class="max-w-7xl mx-auto grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
                {% for product in products %}
                    <li class="w-full">
                        <a href="{{ product.get_absolute_url }}" class="group block w-full relative z-0 overflow-hidden rounded-lg">
                            {% if product.image %}
                                <img class="-z-[1] w-full aspect-square object-cover rounded-t-lg md:rounded-lg group-hover:scale-125 transition-all duration-500"
                                     src="{{ product.image.url }}" alt="tombstone"/>
                            {% endif %}

                            <span
                                    class="z-10 block font-bold absolute top-0 left-4 bg-purple-600 text-white px-4 py-2 text-xs rounded-b-md font-dosis"
                                    dir="ltr">
                        - {{ product.percent }}%
                    </span>
                            <div
                                    class="md:absolute inset-0 bg-neutral-800 md:bg-transparent md:bg-gradient-to-t from-black/90 to-transparent rounded-b-lg md:rounded-lg p-4 text-gray-100 flex flex-col justify-end items-start">
                                <h4 class="mb-1 font-bold md:text-lg">{{ product.name }}</h4>
                                <p class="text-sm">
                                    <span>قیمت:</span>
                                    {% if product.discount %}
                                        <span class="line-through text-gray-400 font-dosis">{{ product.discount|intcomma:False }}</span>
                                    {% endif %}
                                    <span class="font-dosis">{{ product.price|intcomma:False }}</span>
                                </p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <ul class="flex items-center justify-center gap-1 font-dosis">
            <li>
                <a class="py-1 px-2 text-black rounded" href="#">&rarr;</a>
            </li>
            <li>
                <a class="py-1 px-2 bg-purple-600 text-white rounded" href="#">1</a>
            </li>
            <li>
                <a class="py-1 px-2 text-black rounded" href="#">2</a>
            </li>
            <li>
                <a class="py-1 px-2 text-black rounded" href="#">3</a>
            </li>
            <li>
                <a class="py-1 px-2 text-black rounded" href="#">4</a>
            </li>
            <li>
                <a class="py-1 px-2 text-black rounded" href="#">&larr;</a>
            </li>
        </ul>
    </main>
{% endblock content %}