{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <nav class="px-4 py-6 bg-neutral-800 text-gray-200">
        <ul class="flex justify-center items-center gap-6 max-w-7xl mx-auto">
            <li>
                <a class="text-gray-100 hover:text-purple-300 transition-colors duration-300" href="/">صفحه اصلی</a>
            </li>
            <li>
                <a class="text-gray-100 hover:text-purple-300 transition-colors duration-300" href="/about">درباره
                    ما</a>
            </li>
        </ul>
    </nav>

    <main class="flex flex-col items-stretch gap-4 py-16">
        <div class="w-full max-w-2xl lg:max-w-7xl mx-auto px-4">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="w-full">
                    <img
                            class="w-full rounded-lg shadow"
                            src="{{ products.image.url }}"
                            alt="tombstone"/>
                </div>
                <div class="w-full bg-white rounded-lg shadow p-6 md:p-8">
                    <h1 class="font-bold text-3xl md:text-4xl mb-3">{{ products.title }}</h1>
                    <p class="text-lg font-bold text-gray-500 mb-5">
                        <span> قیمت: </span>
                        <span class="font-dosis">{{ products.price|intcomma:False }}</span>
                    </p>
                    <p class="text-justify leading-8 text-gray-800 mb-8">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                        ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                        و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای
                        زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و
                        متخصصان را می طلبد
                    </p>
                    <a href="#"
                            class="mb-4 flex items-center gap-2 bg-purple-600 w-fit text-gray-100 py-3 px-6 rounded-lg hover:brightness-110 active:brightness-90 transition-all duration-300">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="w-6 h-6">
                            <path
                                    fill-rule="evenodd"
                                    d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z"
                                    clip-rule="evenodd"></path>
                        </svg>
                        <span>خرید محصول</span>
                    </a>
                    <p class="flex items-center gap-3">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="w-6 h-6">
                            <path
                                    fill-rule="evenodd"
                                    d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                                    clip-rule="evenodd"></path>
                        </svg>
                        <span class="block">شماره تماس:</span>
                        <span class="block font-bold text-gray-700 font-dosis"
                        >09196043787</span
                        >
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full max-w-2xl lg:max-w-7xl mx-auto px-4">
            <div class="p-6 bg-white rounded-lg shadow">
                <h3 class="font-bold text-2xl mb-3">توضیحات</h3>
                <p class="leading-8 text-gray-800 text-justify mb-8">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
                    در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را
                    می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                    الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این
                    صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و
                    شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد. و جوابگوی سوالات پیوسته اهل دنیای موجود
                    طراحی اساسا مورد استفاده قرار گیرد.
                </p>
                <h3 class="font-bold text-2xl mb-3">مشخصات سنگ</h3>
                <div class="flex flex-row flex-wrap gap-2">
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">ابعاد یک متر در دو متر و نیم</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">وزن ده کیلو</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">ابعاد یک متر در دو متر و نیم</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">وزن ده کیلو</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">ابعاد یک متر در دو متر و نیم</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">وزن ده کیلو</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">ابعاد یک متر در دو متر و نیم</span>
                    <span class="py-2 px-6 bg-purple-500 text-sm text-gray-100 rounded-md">وزن ده کیلو</span>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
